body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}

header{
  color: #444;
  padding: 1rem;
  text-align: center;
  margin-top: -30px;
}

footer {
  color: #444;
  padding-bottom: 1rem;
  margin-bottom: 10px;
 }

nav a {
  color: #444;
  margin: 0 0.5rem;
  text-decoration: none;
}
